



.form-field{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  align-items: center;
  text-align: center;
}


.forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.heading{
  font-size: 1.5rem;
  color:darkslategray;
}
.field{
  display: flex;
  flex-direction: column;
}


.btn{
  padding: 5px 20px;
  background-color: darkolivegreen;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

input, .input{
  padding: 5px;
}

.req{
  color: red;
  font-size: 0.8rem;
  text-align: start;
}
